# IMPORTING DATA FROM CITIBAKE WEB PAG

I used the coding shared on this article:

https://medium.com/@dvillaveces/analyzing-citi-bike-data-2202f9da97d7

In [1]:
import requests
from bs4 import BeautifulSoup
import os
import zipfile
import numpy as np
import pandas as pd

In [3]:
url = 'https://s3.amazonaws.com/tripdata/'

In [3]:
# load url content into soup
r = requests.get(url)
soup = BeautifulSoup(r.text, 'xml')

In [4]:
# extract file names from soup
files = soup.find_all('Key')
clean_files = []
for i in range(len(files)-1):
    clean_files.append(files[i].get_text())

In [5]:
clean_files

['201306-citibike-tripdata.zip',
 '201307-201402-citibike-tripdata.zip',
 '201307-citibike-tripdata.zip',
 '201308-citibike-tripdata.zip',
 '201309-citibike-tripdata.zip',
 '201310-citibike-tripdata.zip',
 '201311-citibike-tripdata.zip',
 '201312-citibike-tripdata.zip',
 '201401-citibike-tripdata.zip',
 '201402-citibike-tripdata.zip',
 '201403-citibike-tripdata.zip',
 '201404-citibike-tripdata.zip',
 '201405-citibike-tripdata.zip',
 '201406-citibike-tripdata.zip',
 '201407-citibike-tripdata.zip',
 '201408-citibike-tripdata.zip',
 '201409-citibike-tripdata.zip',
 '201410-citibike-tripdata.zip',
 '201411-citibike-tripdata.zip',
 '201412-citibike-tripdata.zip',
 '201501-citibike-tripdata.zip',
 '201502-citibike-tripdata.zip',
 '201503-citibike-tripdata.zip',
 '201504-citibike-tripdata.zip',
 '201505-citibike-tripdata.zip',
 '201506-citibike-tripdata.zip',
 '201507-citibike-tripdata.zip',
 '201508-citibike-tripdata.zip',
 '201509-citibike-tripdata.zip',
 '201510-citibike-tripdata.zip',
 '201511-citibike-tripdata.zip',
 '201512-citibike-tripdata.zip',
 '201601-citibike-tripdata.zip',
 '201602-citibike-tripdata.zip',
 '201603-citibike-tripdata.zip',
 '201604-citibike-tripdata.zip',
 '201605-citibike-tripdata.zip',
 '201606-citibike-tripdata.zip',
 '201607-citibike-tripdata.zip',
 '201608-citibike-tripdata.zip',
 '201609-citibike-tripdata.zip',
 '201610-citibike-tripdata.zip',
 '201611-citibike-tripdata.zip',
 '201612-citibike-tripdata.zip',
 '201701-citibike-tripdata.csv.zip',
 '201702-citibike-tripdata.csv.zip',
 '201703-citibike-tripdata.csv.zip',
 '201704-citibike-tripdata.csv.zip',
 '201705-citibike-tripdata.csv.zip',
 '201706-citibike-tripdata.csv.zip',
 '201707-citibike-tripdata.csv.zip',
 '201708-citibike-tripdata.csv.zip',
 '201709-citibike-tripdata.csv.zip',
 '201710-citibike-tripdata.csv.zip',
 '201711-citibike-tripdata.csv.zip',
 '201712-citibike-tripdata.csv.zip',
 '201801-citibike-tripdata.csv.zip',
 '201802-citibike-tripdata.csv.zip',
 '201803-citibike-tripdata.csv.zip',
 '201804-citibike-tripdata.csv.zip',
 '201805-citibike-tripdata.csv.zip',
 '201806-citibike-tripdata.csv.zip',
 '201807-citibike-tripdata.csv.zip',
 '201808-citibike-tripdata.csv.zip',
 '201809-citibike-tripdata.csv.zip',
 '201810-citibike-tripdata.csv.zip',
 '201811-citibike-tripdata.csv.zip',
 '201812-citibike-tripdata.csv.zip',
 '201901-citibike-tripdata.csv.zip',
 '201902-citibike-tripdata.csv.zip',
 '201903-citibike-tripdata.csv.zip',
 '201904-citibike-tripdata.csv.zip',
 '201905-citibike-tripdata.csv.zip',
 '201906-citibike-tripdata.csv.zip',
 '201907-citibike-tripdata.csv.zip',
 '201908-citibike-tripdata.csv.zip',
 '201909-citibike-tripdata.csv.zip',
 '201910-citibike-tripdata.csv.zip',
 '201911-citibike-tripdata.csv.zip',
 '201912-citibike-tripdata.csv.zip',
 '202001-citibike-tripdata.csv.zip',
 '202002-citibike-tripdata.csv.zip',
 '202003-citibike-tripdata.csv.zip',
 '202004-citibike-tripdata.csv.zip',
 '202005-citibike-tripdata.csv.zip',
 '202006-citibike-tripdata.csv.zip',
 '202007-citibike-tripdata.csv.zip',
 '202008-citibike-tripdata.csv.zip',
 '202009-citibike-tripdata.csv.zip',
 '202010-citibike-tripdata.csv.zip',
 '202011-citibike-tripdata.csv.zip',
 'JC-201509-citibike-tripdata.csv.zip',
 'JC-201510-citibike-tripdata.csv.zip',
 'JC-201511-citibike-tripdata.csv.zip',
 'JC-201512-citibike-tripdata.csv.zip',
 'JC-201601-citibike-tripdata.csv.zip',
 'JC-201602-citibike-tripdata.csv.zip',
 'JC-201603-citibike-tripdata.csv.zip',
 'JC-201604-citibike-tripdata.csv.zip',
 'JC-201605-citibike-tripdata.csv.zip',
 'JC-201606-citibike-tripdata.csv.zip',
 'JC-201607-citibike-tripdata.csv.zip',
 'JC-201608-citibike-tripdata.csv.zip',
 'JC-201609-citibike-tripdata.csv.zip',
 'JC-201610-citibike-tripdata.csv.zip',
 'JC-201611-citibike-tripdata.csv.zip',
 'JC-201612-citibike-tripdata.csv.zip',
 'JC-201701-citibike-tripdata.csv.zip',
 'JC-201702-citibike-tripdata.csv.zip',
 'JC-201703-citibike-tripdata.csv.zip',
 'JC-201704-citibike-tripdata.csv.zip',
 'JC-201705-citibike-tripdata.csv.zip',
 'JC-201706-citibike-tripdata.csv.zip',
 'JC-201707-citibike-tripdata.csv.zip',
 'JC-201708 citibike-tripdata.csv.zip',
 'JC-201709-citibike-tripdata.csv.zip',
 'JC-201710-citibike-tripdata.csv.zip',
 'JC-201711-citibike-tripdata.csv.zip',
 'JC-201712-citibike-tripdata.csv.zip',
 'JC-201801-citibike-tripdata.csv.zip',
 'JC-201802-citibike-tripdata.csv.zip',
 'JC-201803-citibike-tripdata.csv.zip',
 'JC-201804-citibike-tripdata.csv.zip',
 'JC-201805-citibike-tripdata.csv.zip',
 'JC-201806-citibike-tripdata.csv.zip',
 'JC-201807-citibike-tripdata.csv.zip',
 'JC-201808-citibike-tripdata.csv.zip',
 'JC-201809-citibike-tripdata.csv.zip',
 'JC-201810-citibike-tripdata.csv.zip',
 'JC-201811-citibike-tripdata.csv.zip',
 'JC-201812-citibike-tripdata.csv.zip',
 'JC-201901-citibike-tripdata.csv.zip',
 'JC-201902-citibike-tripdata.csv.zip',
 'JC-201903-citibike-tripdata.csv.zip',
 'JC-201904-citibike-tripdata.csv.zip',
 'JC-201905-citibike-tripdata.csv.zip',
 'JC-201906-citibike-tripdata.csv.zip',
 'JC-201907-citibike-tripdata.csv.zip',
 'JC-201908-citibike-tripdata.csv.zip',
 'JC-201909-citibike-tripdata.csv.zip',
 'JC-201910-citibike-tripdata.csv.zip',
 'JC-201911-citibike-tripdata.csv.zip',
 'JC-201912-citibike-tripdata.csv.zip',
 'JC-202001-citibike-tripdata.csv.zip',
 'JC-202002-citibike-tripdata.csv.zip',
 'JC-202003-citibike-tripdata.csv.zip',
 'JC-202004-citibike-tripdata.csv.zip',
 'JC-202005-citibike-tripdata.csv.zip',
 'JC-202006-citibike-tripdata.csv.zip',
 'JC-202007-citibike-tripdata.csv.zip',
 'JC-202008-citibike-tripdata.csv.zip',
 'JC-202009-citibike-tripdata.csv.zip',
 'JC-202010-citibike-tripdata.csv.zip',
 'JC-202011-citibike-tripdata.csv.zip']

In [7]:
# download & unzip data files
for file in clean_files:
    file_url = url + file
    #download files
    with open(file, "wb") as f:
            response = requests.get(file_url)
            f.write(response.content)
    # unzip data files
    with zipfile.ZipFile(file, "r") as zip_ref:
        zip_ref.extractall("tripdata")        
    # remove zipped file after unziping
    os.remove(file)

In [6]:
# rename files 
directory = 'tripdata/'
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith('.csv'):
        new_filename = filename.replace(' ','').lower().split('ci', 1)[0].strip('-').replace('-','_')
        os.rename(os.path.join(directory, filename), os.path.join(directory, new_filename + '.csv'))

In [2]:
#load into DataFrames into dfs dictionary
directory = 'tripdata/'
dfs = {}

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if filename.endswith('.csv'):
        dfs[filename.split('.')[0]] = pd.read_csv(os.path.join(directory, filename)) 
        
#takes about 5 min to run

In [3]:
#Review info and headers for some years
dfs['201601'].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [4]:
#Review info and headers for some years
dfs['201701'].head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

In [5]:
#Review info and headers for some years
dfs['201801'].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [6]:
#Review info and headers for some years
dfs['201901'].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [7]:
#Review info and headers for some years
dfs['202001'].head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [8]:
#convert each dictionary to dataframe

df_2016_01 = pd.DataFrame.from_dict(dfs['201601'])
df_2016_02 = pd.DataFrame.from_dict(dfs['201602'])
df_2016_03 = pd.DataFrame.from_dict(dfs['201603'])
df_2016_04 = pd.DataFrame.from_dict(dfs['201604'])
df_2016_05 = pd.DataFrame.from_dict(dfs['201605'])
df_2016_06 = pd.DataFrame.from_dict(dfs['201606'])
df_2016_07 = pd.DataFrame.from_dict(dfs['201607'])
df_2016_08 = pd.DataFrame.from_dict(dfs['201608'])
df_2016_09 = pd.DataFrame.from_dict(dfs['201609'])
df_2016_10 = pd.DataFrame.from_dict(dfs['201610'])
df_2016_11 = pd.DataFrame.from_dict(dfs['201611'])
df_2016_12 = pd.DataFrame.from_dict(dfs['201612'])

df_2017_01 = pd.DataFrame.from_dict(dfs['201701'])
df_2017_02 = pd.DataFrame.from_dict(dfs['201702'])
df_2017_03 = pd.DataFrame.from_dict(dfs['201703'])
df_2017_04 = pd.DataFrame.from_dict(dfs['201704'])
df_2017_05 = pd.DataFrame.from_dict(dfs['201705'])
df_2017_06 = pd.DataFrame.from_dict(dfs['201706'])
df_2017_07 = pd.DataFrame.from_dict(dfs['201707'])
df_2017_08 = pd.DataFrame.from_dict(dfs['201708'])
df_2017_09 = pd.DataFrame.from_dict(dfs['201709'])
df_2017_10 = pd.DataFrame.from_dict(dfs['201710'])
df_2017_11 = pd.DataFrame.from_dict(dfs['201711'])
df_2017_12 = pd.DataFrame.from_dict(dfs['201712'])


df_2018_01 = pd.DataFrame.from_dict(dfs['201801'])
df_2018_02 = pd.DataFrame.from_dict(dfs['201802'])
df_2018_03 = pd.DataFrame.from_dict(dfs['201803'])
df_2018_04 = pd.DataFrame.from_dict(dfs['201804'])
df_2018_05 = pd.DataFrame.from_dict(dfs['201805'])
df_2018_06 = pd.DataFrame.from_dict(dfs['201806'])
df_2018_07 = pd.DataFrame.from_dict(dfs['201807'])
df_2018_08 = pd.DataFrame.from_dict(dfs['201808'])
df_2018_09 = pd.DataFrame.from_dict(dfs['201809'])
df_2018_10 = pd.DataFrame.from_dict(dfs['201810'])
df_2018_11 = pd.DataFrame.from_dict(dfs['201811'])
df_2018_12 = pd.DataFrame.from_dict(dfs['201812'])

df_2019_01 = pd.DataFrame.from_dict(dfs['201901'])
df_2019_02 = pd.DataFrame.from_dict(dfs['201902'])
df_2019_03 = pd.DataFrame.from_dict(dfs['201903'])
df_2019_04 = pd.DataFrame.from_dict(dfs['201904'])
df_2019_05 = pd.DataFrame.from_dict(dfs['201905'])
df_2019_06 = pd.DataFrame.from_dict(dfs['201906'])
df_2019_07 = pd.DataFrame.from_dict(dfs['201907'])
df_2019_08 = pd.DataFrame.from_dict(dfs['201908'])
df_2019_09 = pd.DataFrame.from_dict(dfs['201909'])
df_2019_10 = pd.DataFrame.from_dict(dfs['201910'])
df_2019_11 = pd.DataFrame.from_dict(dfs['201911'])
df_2019_12 = pd.DataFrame.from_dict(dfs['201912'])



df_2020_01 = pd.DataFrame.from_dict(dfs['202001'])
df_2020_02 = pd.DataFrame.from_dict(dfs['202002'])
df_2020_03 = pd.DataFrame.from_dict(dfs['202003'])
df_2020_04 = pd.DataFrame.from_dict(dfs['202004'])
df_2020_05 = pd.DataFrame.from_dict(dfs['202005'])
df_2020_06 = pd.DataFrame.from_dict(dfs['202006'])
df_2020_07 = pd.DataFrame.from_dict(dfs['202007'])
df_2020_08 = pd.DataFrame.from_dict(dfs['202008'])
df_2020_09 = pd.DataFrame.from_dict(dfs['202009'])
df_2020_10 = pd.DataFrame.from_dict(dfs['202010'])
df_2020_11 = pd.DataFrame.from_dict(dfs['202011'])

In [9]:
#review column titles
list(df_2016_01.columns)

['tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender']

In [10]:
#review column titles and select official column titles for all dataframes
column_titles = df_2016_12.columns
column_titles

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [11]:
#assign official column titles to all dataframes

df_2016_01.columns=column_titles
df_2016_02.columns=column_titles
df_2016_03.columns=column_titles 
df_2016_04.columns=column_titles 
df_2016_05.columns=column_titles 
df_2016_06.columns=column_titles 
df_2016_07.columns=column_titles 
df_2016_08.columns=column_titles 
df_2016_09.columns=column_titles 
df_2016_10.columns=column_titles 
df_2016_11.columns=column_titles 
df_2016_12.columns=column_titles 



df_2017_01.columns=column_titles
df_2017_02.columns=column_titles
df_2017_03.columns=column_titles 
df_2017_04.columns=column_titles 
df_2017_05.columns=column_titles 
df_2017_06.columns=column_titles 
df_2017_07.columns=column_titles 
df_2017_08.columns=column_titles 
df_2017_09.columns=column_titles 
df_2017_10.columns=column_titles 
df_2017_11.columns=column_titles 
df_2017_12.columns=column_titles 



df_2018_01.columns=column_titles
df_2018_02.columns=column_titles
df_2018_03.columns=column_titles 
df_2018_04.columns=column_titles 
df_2018_05.columns=column_titles 
df_2018_06.columns=column_titles 
df_2018_07.columns=column_titles 
df_2018_08.columns=column_titles 
df_2018_09.columns=column_titles 
df_2018_10.columns=column_titles 
df_2018_11.columns=column_titles 
df_2018_12.columns=column_titles 



df_2019_01.columns=column_titles
df_2019_02.columns=column_titles
df_2019_03.columns=column_titles 
df_2019_04.columns=column_titles 
df_2019_05.columns=column_titles 
df_2019_06.columns=column_titles 
df_2019_07.columns=column_titles 
df_2019_08.columns=column_titles 
df_2019_09.columns=column_titles 
df_2019_10.columns=column_titles 
df_2019_11.columns=column_titles 
df_2019_12.columns=column_titles 

df_2020_01.columns=column_titles
df_2020_02.columns=column_titles
df_2020_03.columns=column_titles 
df_2020_04.columns=column_titles 
df_2020_05.columns=column_titles 
df_2020_06.columns=column_titles 
df_2020_07.columns=column_titles 
df_2020_08.columns=column_titles 
df_2020_09.columns=column_titles 
df_2020_10.columns=column_titles 
df_2020_11.columns=column_titles

In [49]:
#create data frame by year

df_final_2016 = pd.concat([df_2016_01,df_2016_02,df_2016_03,df_2016_04,df_2016_05,df_2016_06,
                      df_2016_07, df_2016_08,df_2016_09,df_2016_10,df_2016_11,df_2016_12], ignore_index=True)

In [50]:
df_final_2016

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13845650,441,2016-12-31 23:56:15,2017-01-01 00:03:36,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,336,Sullivan St & Washington Sq,40.730477,-73.999061,16185,Subscriber,1974.0,2
13845651,1026,2016-12-31 23:56:19,2017-01-01 00:13:26,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3143,5 Ave & E 78 St,40.776829,-73.963888,18267,NaN,1983.0,1
13845652,1747,2016-12-31 23:56:35,2017-01-01 00:25:43,3424,E 106 St & Lexington Ave,40.791976,-73.945993,3295,Central Park W & W 96 St,40.791270,-73.964839,19899,Subscriber,1970.0,2
13845653,951,2016-12-31 23:59:31,2017-01-01 00:15:23,3158,W 63 St & Broadway,40.771639,-73.982614,3169,Riverside Dr & W 82 St,40.787209,-73.981281,16866,Subscriber,1961.0,1
13845654,1322,2016-12-31 23:59:56,2017-01-01 00:21:58,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,25793,Subscriber,1985.0,1

In [57]:
df_final_2016.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [58]:
#review data on time column to verify if it is the same format.

df_final_2016['Start Time'].unique

<bound method Series.unique of 0             1/1/2016 00:00:41
1             1/1/2016 00:00:45
2             1/1/2016 00:00:48
3             1/1/2016 00:01:06
4             1/1/2016 00:01:12
                   ...
13845650    2016-12-31 23:56:15
13845651    2016-12-31 23:56:19
13845652    2016-12-31 23:56:35
13845653    2016-12-31 23:59:31
13845654    2016-12-31 23:59:56
Name: Start Time, Length: 13845655, dtype: object>

In [51]:
#create csv file for each year 

df_final_2016.to_csv('2016_data.csv')

In [59]:
df_final_2020 = pd.concat([df_2020_01,df_2020_02,df_2020_03,df_2020_04,df_2020_05,df_2020_06,
                      df_2020_07, df_2020_08,df_2020_09,df_2020_10,df_2020_11], ignore_index=True)

In [60]:
df_final_2020

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18417923,257,2020-11-30 23:58:44.6840,2020-12-01 00:03:01.9470,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,49932,Subscriber,1992,1
18417924,617,2020-11-30 23:58:45.6210,2020-12-01 00:09:02.8300,439,E 4 St & 2 Ave,40.726281,-73.989780,3709,W 15 St & 6 Ave,40.738046,-73.996430,38817,Customer,1969,0
18417925,116,2020-11-30 23:58:45.7200,2020-12-01 00:00:41.9570,3616,Steinway St & 28 Ave,40.765625,-73.913669,3600,31 Ave & Steinway St,40.761149,-73.917007,32874,Subscriber,1980,1
18417926,409,2020-11-30 23:59:20.1480,2020-12-01 00:06:09.7540,3521,Lenox Ave & W 111 St,40.798786,-73.952300,3325,E 95 St & 3 Ave,40.784903,-73.950503,36675,Customer,2001,1
18417927,301,2020-11-30 23:59:47.9750,2020-12-01 00:04:49.2260,241,DeKalb Ave & S Portland Ave,40.689810,-73.974931,274,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,27784,Subscriber,1948,1

In [61]:
df_final_2020.to_csv('2020_data.csv')

In [12]:
df_final_2017 = pd.concat([df_2017_01,df_2017_02,df_2017_03,df_2017_04,df_2017_05,df_2017_06,
                           df_2017_07,df_2017_08,df_2017_09,df_2017_10,df_2017_11,df_2017_12], ignore_index=True)

In [13]:
df_final_2017.to_csv('2017_data.csv')

In [14]:
df_final_2018 = pd.concat([df_2018_01,df_2018_02,df_2018_03,df_2018_04,df_2018_05,df_2018_06,
                           df_2018_07,df_2018_08,df_2018_09,df_2018_10,df_2018_11,df_2018_12], ignore_index=True)

In [15]:
df_final_2018.to_csv('2018_data.csv')

In [16]:
df_final_2019 = pd.concat([df_2019_01,df_2019_02,df_2019_03,df_2019_04,df_2019_05,df_2019_06,
                           df_2019_07,df_2019_08,df_2019_09,df_2019_10,df_2019_11,df_2019_12], ignore_index=True)

In [17]:
df_final_2019.to_csv('2019_data.csv')